body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
  text-align: left;
}

li {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
.basics {
  margin-bottom: 20px;
}
.container {
  max-width: 700px;
  margin: 15px auto;
}
.overview-box {
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 700px;
  padding: 15px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature img {
  height: 70px;
  width: 70px;
  display: inline;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  display: inline;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -32px;
}
