body {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
  text-align: left;
}

li {
  color: rgb(135, 135, 135);
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  text-align: left;
  text-transform: capitalize;
}
ul {
  margin-top: 20px;
  padding: 0;
}
.basics {
  margin-bottom: 20px;
  margin-left: 18px;
}

.container {
  max-width: 700px;
  margin: 15px auto;
  margin-bottom: 20px;
}

.credit {
  opacity: 0.4;
  margin-left: 10px;
}

.forecast-box {
  margin-left: 18px;
}

.forecast-box:hover {
  background-color: rgb(255, 255, 255);
  border: 1 px solid #dadde1;
  border-radius: 10px;
  padding: 2px;
}
.overview-box {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border: 1px solid #dadde1;
  border-radius: 10px;
  margin: 30px auto;
  padding: 15px;
  margin-bottom: 5px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast-min-temp {
  opacity: 0.5;
}
.weather-forecast img {
  display: block;
  margin-left: 25px;
  margin-top: 0;
}
.weather-temperature img {
  height: 70px;
  width: 70px;
  display: inline;
  margin-right: 10px;
  margin-bottom: 35px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -32px;
}
